@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}


/* Fonts */
@font-face {
  font-family: "Adelle";
  src: url("./fonts/Adelle_light.otf") format("opentype");
}

.adelle {
  font-family: "Adelle";
}



:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  min-height: 100vh;
}


.hero-text{
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
}

@media only screen and (min-width: 920px) {
  .hero-text{
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.shield-text{
  left:0;
  right:0;
  top: 135%;
  margin-left: auto;
  margin-right: auto;

}

@media only screen and (min-width: 920px) {
  .shield-text{
    left:0;
    right:0;
    top: auto;
    margin-left: auto;
    margin-right: auto;
  
  }
  
}


/* Scroll to top */

.top-to-btm {
  position: fixed;
  width: 100%;
  right: 2rem;
  bottom: 3rem;
  height: 35px;
  width: 35px;
  font-size: 3rem;
  z-index: 999;
  cursor: pointer;

}

@media only screen and (min-width: 920px) {
  .top-to-btm {
    right: 3rem;
    bottom: 7rem;
  }
}

/* .testimonial-bg{
  background-image: url(images/testimonials/star.svg), url(images/testimonials/star.svg), url(images/testimonials/star.svg);
  background-position:  top 180px left 0px, top 50% right, bottom right;
  background-size: 12px, 14px, 19px;
  background-repeat: no-repeat, no-repeat;
} */

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: #ECB947;
}

.btn-anim{
  transition: all 0.2s linear;
}

.btn-anim:hover {
  background: #ECB947;
}

.termslink{
  transition: all 0.2s linear;
}
.termslink:hover{
color:#ECB947;
}

.social{
  transition: all 0.2s linear;
}

.social:hover{
  transform: translate(0, -15%);
}

/* Underline Animation */

.underlineAnim {
  position: relative;
}

.underlineAnim::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #FDF8ED;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underlineAnim:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }

}


.hero-bg{
 background: top 0% center/contain no-repeat url(./images/hero/hero-img-mb.png);
}

@media only screen and (min-width: 768px) {

  .hero-bg{
    background: top 0% center/contain no-repeat url(./images/hero/hero-img-dsk.png);
    background-size: 100%;
   }
}